/* write your override styles here */
#wall .tag-1 {
   display: none;
}

#wall #tag-2{
   display: none;
}

#wall #tag-3{
   display: none;
}

#wall .parent #tag-4{
   display: none;
}

#wall .parent #tag-5 .slick{
   display: none;
}

#wall .parent #tag-6{
   display: none;
}

.parent #tag-7{
   display: none;
}


/* Tag 6 -> 224 */

body div#wall div.parent div:last-child div#tag-6 { /*225*/
  display: none;
}

/* Tag 7 -> 224 */

body div#wall div.parent div > div#tag-7.slick { /*225*/
  display: none;
}